<%- include('head') %> <%- include('header') %>
<section class="content-container">
	<div class="content">
		<form action="/members/create" method="post">
			<label for="name">NAME</label>
			<input type="text" id="name" name="name" />

			<label for="email">EMAIL</label>
			<input type="email" id="email" name="email" />

			<label for="phoneNumber">PHONE NUMBER</label>
			<input type="tel" id="phoneNumber" name="phoneNumber" />

			<label for="dogName">DOGS NAME</label>
			<input type="text" id="dogName" name="dogName" />

			<button>SEND</button>
		</form>
	</div>
</section>
<%- include('footer') %>
