<%- include('head') %> <%- include('header') %>
<section class="content-container">
	<div class="content">
		<div class="member-container">
			<h1>Någonting gick fel :(</h1>
		</div>
	</div>
</section>

<%- include('footer') %>
