<div class="header">
	<a href="/" class="logo">Brukshundsklubben</a>

	<ul class="navlist">
		<li><a href="/">Hem</a></li>
		<li><a href="/members">Medlemssida</a></li>
		<li><a href="/members/create">Bli medlem</a></li>
	</ul>
</div>
