<div class="header">
	<a href="/" class="logo">WORKING DOG CLUB</a>

	<ul class="navlist">
		<li><a href="/">HOME</a></li>
		<li><a href="/members">MEMBERS PAGE</a></li>
		<li><a href="/members/create">JOIN</a></li>
	</ul>
</div>
