<%- include('head') %> <%- include('header') %>
<section class="content-container">
	<div class="content">
		<p class="welcome-text">
			Welcome to the vibrant world of the Working Dog Club! Join our virtual kennel and discover a
			hub of information, resources, and a lively community dedicated to working dogs. Uncover the
			history and roles of various breeds, access expert training tips, and be inspired by
			heartwarming stories of canine heroism. Connect with like-minded enthusiasts, share tales and
			photos, and celebrate the remarkable abilities of our working dogs. Welcome to our pack—let
			the adventure begin!
		</p>
	</div>
</section>
<%- include('footer') %>
